html {
    background-image: url('../images/background.jpg');
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 0.25px 0.25px #fff;
}
body {
    width: 800px;
    max-width: 100%;
    background-color: rgba(255,255,255,0.2) !important;
    padding: 20px;
    margin: 50px auto !important;
}
.jumbotron {
    background: transparent !important;
}
.jumbotron:not(.results) {
    margin-bottom: 0 !important;
}
.rupees {
    text-align: center;
}
.rupees img {
    width: 13%;
    margin: 0 20px;
}
.jumbotron.results {
    padding: 0 !important;
}
.results {
    text-align: center;
    font-size: 2em;
}
.results #wins {
    width: 25%;
    display: inline-block;
}
.results #losses {
    width: 25%;
    display: inline-block;
}